<h1>Characters</h1>

<ul>
  <% @characters.each do |character| %>
    <li>
      <% if character.image.attached? %>
        <%= link_to character_path(character) do %>
          <%= image_tag character.image, width: 200, height: 200 %>
        <% end %>
      <% end %>
      <br><%= link_to character.name, character %>
    </li>
  <% end %>
</ul>

<%= link_to "New Character", new_character_path, class: 'button-link', role: 'button' %>
