<h1>Characters</h1>

  <div class="con">
  <% @characters.each do |character| %>
    <div class="box">
      <div class='center-link'>
      <% if character.image.attached? %>
        <%= link_to character_path(character) do %>
          <%= image_tag character.image, width: 200, height: 200 %>
        <% end %>
      <% end %>
      <br><%= link_to character.name, character %>
      </div>
    </div>
  <% end %>
  </div>
<%= link_to "New Character", new_character_path, class: 'button-link', role: 'button' %>
