/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* app/assets/stylesheets/application.css */
 body {
    background-color: #252526 !important; /* This sets the background color to grey */
    font-family: Arial, sans-serif !important; /* Optional: Sets a default font for the application */
    color:white !important;
    margin: 0 !important;
    padding: 0 !important;
 }

 div {
    margin:10px; /* This sets the background color to grey */
 }
 
 h2 {
  text-align: center;
 }

.skills-container {
    display: flex;
    justify-content: space-between;
}
  
.skills-column {
    width: 30%;
}

.skill {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #291749;
    padding: 10px;
    margin-bottom: 10px;
}

.skill .delete-skill {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: #4c2b85;
    border: solid 1px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button-link:hover {
    background-color: #0056b3;
}

.button-delete {
    background-color: red;
}

.button-delete:hover {
    background-color: darkred;
}

.con {
    display: flex;
    flex-wrap: wrap; /* Allows the boxes to wrap to the next line if they overflow */
    gap: 10px; /* Adjust the gap between boxes   justify-content: space-between;*/
    margin:10px;
  
  }
  .box {
    text-decoration:none;
    width:15%;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
  }
  .center-link {
    text-align: center;  /* Center the text inside the link */
  }

  .main-info {
    display:flex;
    margin:0px;
  }
  .main-info h2 {
    margin-right: 8px;
  }
  
  .skills-container {
    display: flex;
    justify-content: space-between;
  }
  
  .skills-column {
    width: 32%;
    margin: 8px;
  }

  .box-container {
    display: flex;
    margin:0px;
  }
  
  .box-left, .box-right {
    flex: 1; /* Each div takes up equal space */
    padding: 20px; /* Optional: Add padding for spacing */
  }
  
  .box-left {
    margin:0px;
    padding: 0px;
    display: flex; /* Nested flex container for box-left */
    flex-direction: row;
    justify-content: space-between;
  }
  

  .box-left h1 {
    margin:0px
  }
  
  .box-right {
    text-align: center;
    margin:0px

  }


  .box-right .button-link {
    width: 90%;
    align-self: center;
  }