.navbar {
  margin:0px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #291749;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
  
.navbar-brand {
  margin: 0;
}

.navbar a {
  color:white;
  text-decoration: none;
  font-size: 34px;
  padding:0px;
}